button{
	border:1px solid black;
	font-size:30px;
}
div{
	font-size:20px;
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
}
.a{
	text-decoration:none;
	color:black;
}
@media screen and
(max-width:1250px) and
(min-width:1px){
	body{
	background-image:url("webskill24.github.io/Star/nn.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	}
}
